In [27]:
import pandas as pd
import numpy as np
import os 
import matplotlib.pyplot as plt

In [28]:
members_file_path = 'bugwcMember.csv'
members_data = pd.read_csv(members_file_path)
members_data.head(10)

,BU Email,First Name,Last Name,Class Year,Address,Phone Number,MEMBER_RATING,OPTIN_TIME,OPTIN_IP,CONFIRM_TIME,...,GMTOFF,DSTOFF,TIMEZONE,CC,REGION,LAST_CHANGED,LEID,EUID,NOTES,TAGS
0,yashikac@bu.edu,NaN,NaN,NaN,NaN,NaN,2,2020-09-07 01:10:07,NaN,2020-09-07 01:10:07,...,NaN,NaN,NaN,NaN,NaN,2023-09-22 10:25:30,622817127,fa4e2eba93,NaN,"""Campaign Pasted Segment - 03 Dec 2021 11:16:2..."
1,aryaxrp@bu.edu,Arya,Patel,NaN,NaN,NaN,2,2022-01-27 19:26:22,NaN,2022-01-27 19:26:22,...,NaN,NaN,NaN,NaN,NaN,2023-09-22 10:25:47,622818019,950161897a,NaN,"""Campaign Pasted Segment - 15 Nov 2022 01:47:2..."
2,mcord@bu.edu,Maria,Cordova,2024.0,NaN,NaN,2,2023-11-29 09:52:08,71.235.134.116,2023-11-29 09:52:16,...,'-5,'-4,America/New_York,US,CT,2023-11-29 09:52:16,633276627,a413c2637d,NaN,NaN
3,yubo@bu.edu,Yubo,Qiu,NaN,NaN,NaN,2,2023-01-29 15:44:35,NaN,2023-01-29 15:44:35,...,NaN,NaN,NaN,NaN,NaN,2023-09-22 10:25:52,622818707,3ad7d2c13f,NaN,NaN
4,eshav@bu.edu,NaN,NaN,NaN,NaN,NaN,2,2020-09-07 01:10:07,NaN,2020-09-07 01:10:07,...,NaN,NaN,NaN,NaN,NaN,2023-09-22 10:25:31,622817175,b71954c5b8,NaN,"""Campaign Pasted Segment - 03 Dec 2021 11:16:2..."
5,lhakim@bu.edu,Lilyan,Hakim,NaN,NaN,NaN,2,2022-01-22 18:43:07,NaN,2022-01-22 18:43:07,...,NaN,NaN,NaN,NaN,NaN,2023-09-22 10:25:47,622817991,a53bf0733d,NaN,NaN
6,airi.h0319@gmail.com,Airi,Hatori,NaN,NaN,NaN,2,2023-01-31 19:22:20,NaN,2023-01-31 19:22:20,...,NaN,NaN,NaN,NaN,NaN,2023-09-22 10:25:52,622818743,495a497d8b,NaN,NaN
7,mmarchio@bu.edu,Madison,Marchionna,NaN,NaN,NaN,2,2022-09-19 19:11:25,NaN,2022-09-19 19:11:25,...,NaN,NaN,NaN,NaN,NaN,2023-09-22 10:25:51,622818527,8236080b9b,NaN,"""Campaign Pasted Segment - 15 Nov 2022 01:40:3..."
8,sstang@bu.edu,Sophia,Tang,NaN,NaN,NaN,2,2023-09-11 07:10:10,NaN,2023-09-11 07:10:10,...,NaN,NaN,NaN,NaN,NaN,2023-09-22 10:25:54,622819003,ce397be187,NaN,NaN
9,aaliang@bu.edu,Annie,Liang,NaN,NaN,NaN,2,2023-01-29 19:26:38,NaN,2023-01-29 19:26:38,...,NaN,NaN,NaN,NaN,NaN,2023-09-22 10:25:52,622818719,6164a896be,NaN,NaN

In [29]:

selected_cols = ['BU Email','First Name', 'Last Name','OPTIN_TIME']
members_df = members_data[selected_cols]
members_df.head(5)

          BU Email First Name Last Name           OPTIN_TIME
0  yashikac@bu.edu        NaN       NaN  2020-09-07 01:10:07
1   aryaxrp@bu.edu       Arya     Patel  2022-01-27 19:26:22
2     mcord@bu.edu      Maria   Cordova  2023-11-29 09:52:08
3      yubo@bu.edu       Yubo       Qiu  2023-01-29 15:44:35
4     eshav@bu.edu        NaN       NaN  2020-09-07 01:10:07

In [30]:
nan_counts = members_df.isna().sum()
print(nan_counts)

BU Email       0
First Name    30
Last Name     30
OPTIN_TIME     0
dtype: int64

In [31]:
missingName_df = members_df[members_df.isna().any(axis=1)]
missingName_df.head(5)

           BU Email First Name Last Name           OPTIN_TIME
0   yashikac@bu.edu        NaN       NaN  2020-09-07 01:10:07
4      eshav@bu.edu        NaN       NaN  2020-09-07 01:10:07
40  tjsharma@bu.edu        NaN       NaN  2020-09-07 01:10:06
46    lraiff@bu.edu        NaN       NaN  2020-09-07 01:10:06
58  pvganesh@bu.edu        NaN       NaN  2020-09-07 01:10:07

In [32]:
# members_df = members_df.dropna()
members_df.head(10)

               BU Email First Name   Last Name           OPTIN_TIME
0       yashikac@bu.edu        NaN         NaN  2020-09-07 01:10:07
1        aryaxrp@bu.edu       Arya       Patel  2022-01-27 19:26:22
2          mcord@bu.edu      Maria     Cordova  2023-11-29 09:52:08
3           yubo@bu.edu       Yubo         Qiu  2023-01-29 15:44:35
4          eshav@bu.edu        NaN         NaN  2020-09-07 01:10:07
5         lhakim@bu.edu     Lilyan       Hakim  2022-01-22 18:43:07
6  airi.h0319@gmail.com       Airi      Hatori  2023-01-31 19:22:20
7       mmarchio@bu.edu    Madison  Marchionna  2022-09-19 19:11:25
8         sstang@bu.edu     Sophia        Tang  2023-09-11 07:10:10
9        aaliang@bu.edu      Annie       Liang  2023-01-29 19:26:38

In [36]:
members_df = members_df.sort_values(by='Last Name')
members_df['Rating'] = 0
members_df.head(10)

,BU Email,First Name,Last Name,OPTIN_TIME,Rating
192,nawahab@bu.edu,Nada,Abdelwahab,2022-09-10 12:37:27,0
276,acevedom@bu.edu,Madeleine,Acevedo,2022-09-13 12:09:31,0
128,oademilo@bu.edu,Oluwaseun,Ademiloye,2023-01-29 22:54:55,0
360,ananya04@bu.edu,Ananya,Agarwal,2023-02-07 16:02:46,0
26,tahmed@bu.edu,Tharin,Ahmed,2021-09-04 12:48:13,0
85,shaithea.alam@gmail.com,Shaithea,Alam,2020-10-08 21:40:22,0
305,jalrc@bu.edu,Jasmine,Alarcon,2021-10-16 16:02:43,0
278,annaea@bu.edu,Anna,Albrecht,2023-09-10 13:18:29,0
94,gigialcaraz38@gmail.com,Georgina,Alcaraz,2021-04-27 16:24:32,0
309,galcaraz@bu.edu,Georgina,Alcaraz,2021-09-09 19:20:37,0

In [34]:
members_df.to_csv('./membersClean.csv', index=False)

In [39]:
rating = pd.read_csv('updated_members_total.csv')
rating.head(10)

                  BU Email First Name   Last Name           OPTIN_TIME  Rating
0           nawahab@bu.edu       Nada  Abdelwahab  2022-09-10 12:37:27       7
1          acevedom@bu.edu  Madeleine     Acevedo  2022-09-13 12:09:31       8
2          oademilo@bu.edu  Oluwaseun   Ademiloye  2023-01-29 22:54:55      11
3          ananya04@bu.edu     Ananya     Agarwal  2023-02-07 16:02:46      10
4            tahmed@bu.edu     Tharin       Ahmed  2021-09-04 12:48:13       8
5  shaithea.alam@gmail.com   Shaithea        Alam  2020-10-08 21:40:22       9
6             jalrc@bu.edu    Jasmine     Alarcon  2021-10-16 16:02:43       7
7            annaea@bu.edu       Anna    Albrecht  2023-09-10 13:18:29       9
8  gigialcaraz38@gmail.com   Georgina     Alcaraz  2021-04-27 16:24:32       8
9          galcaraz@bu.edu   Georgina     Alcaraz  2021-09-09 19:20:37      11

In [40]:
sorted_df = rating.sort_values(by='Rating', ascending=False)
sorted_df.head(10)

            BU Email    First Name     Last Name           OPTIN_TIME  Rating
84     irened@bu.edu         Irene          Deng  2023-09-09 13:30:35      31
166    belenk@bu.edu         Belen  Karakullukcu  2022-03-20 02:11:02      29
214    bonnie@bu.edu        Bonnie           Lin  2023-09-09 21:39:46      29
255   sminhaj@bu.edu  Syeda Minhaj        Minhaj  2023-09-09 13:01:49      27
22      balin@bu.edu         Katya         Balin  2023-09-09 18:58:04      26
106     hfinn@bu.edu        Hannah          Finn  2023-09-09 13:28:28      26
409   fionayw@bu.edu         Fiona       Winarto  2023-08-03 09:30:54      26
215   aliston@bu.edu        Amelia        Liston  2022-09-10 12:26:07      23
79   phylissd@bu.edu       Phyliss         Darko  2023-01-29 14:37:53      23
234  mmarchio@bu.edu       Madison    Marchionna  2022-09-19 19:11:25      20